<div class="anonymous-moderator-switcher">
  <div class="anonymous-moderator-switcher__header">
    <span class="anonymous-moderator-switcher__user">
      {{i18n
        "anonymous_moderators.current_account"
        username=this.currentUser.username
      }}
    </span>

    <span class="anonymous-moderator-switcher__status">
      {{#if this.currentUser.can_become_anonymous_moderator}}
        {{i18n "anonymous_moderators.signed_in_main"}}
      {{else}}
        {{i18n "anonymous_moderators.signed_in_anon"}}
      {{/if}}
    </span>
  </div>

  {{#if this.currentUser.can_become_anonymous_moderator}}
    <DButton
      @action={{this.becomeAnonModerator}}
      @label="anonymous_moderators.switch_to_anon"
      @icon="user-secret"
      @isLoading={{this.loading}}
    />
  {{else if this.currentUser.is_anonymous_moderator}}
    <DButton
      @action={{this.becomeMasterUser}}
      @label="anonymous_moderators.switch_to_master"
      @icon="user-secret"
      @isLoading={{this.loading}}
    />
  {{/if}}
</div>